<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="MEDICAL-EJB">
        <wb-resource deploy-path="/" source-path="/ejbModule" tag="defaultRootSource"/>
        <wb-resource deploy-path="/" source-path="/ejbModuleSistemaGeneral"/>
        <wb-resource deploy-path="/" source-path="/ejbModuleMedicina"/>
        <wb-resource deploy-path="/" source-path="/ejbModuleInstitucion"/>
        <property name="java-output-path" value="/MEDICAL-EJB/build/classes"/>
        <property name="ClientProject" value="MEDICAL-EJBClient"/>
        <property name="ClientJARURI" value="MEDICAL-EJBClient.jar"/>
    </wb-module>
</project-modules>
